@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:wght@100&family=Source+Sans+Pro:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  font-family: 'Neucha', cursive;
  background-color: #fff;
}
.main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .head{
  position: relative;
  font-size: 31px;
}
.main .foot{
  position: relative;
  font-size: 36px;
  margin-top: 70px;
}
.main .head span{
  color: #ff5100;
}
.main .foot span{
  color: #ff5100;
}

.main .head::after{
  content: " ";
  position: absolute;
  width: 50%;
  height: 5px;
  background-color: #ff5100;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
}
.container{
  display: flex;
  justify-content: space-around;
  margin: 70px auto;
  width: 1120px;
  max-width: 100%;
}
.container .box{
  width: 230px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  color: #333;
  margin: 0 30px;
  text-align: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  padding: 15px 0;
  box-shadow: 1px 1px 45px rgba(51, 51, 51, 0.41);
}

.box img{
  border-radius: 3px;
}

.box .name{
  font-weight: 600;
  font-size: 17px;
}

.box .social-icons ul{
  display: flex;
}

.box .social-icons li{
  list-style-type: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: all .4s ease;
}

.box .social-icons li:hover{
  border: 1px solid #333;
  transform: scale(1.3);
}

.box::after, .box::before{
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  background-image: linear-gradient(135deg, #ff5100, #fad400);
  animation: none;
  z-index: -1;
}

.box::before{
  bottom: -6px;
  right: -6px;
}
.box::after{
  top: -6px;
  left: -6px;
}

.box:hover::after, .box:hover::before{
  animation: stroke .5s linear;
  animation-fill-mode: forwards;
}

@keyframes stroke{
  0%{
      height: 5px;
      width: 0;
  }
  100%{
      height: calc(100% + 12px);
      width: 100%
  }
}



@media (max-width: 1024px){
  .testimonials{
    padding: 50px 7%;
  }
}

@media (max-width: 768px) {
  .container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .container .box{
    margin-bottom: 30px; 
  }
}
@media (max-width: 425px){
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .testimonials::after, .testimonials::before{
    top: -5px;
  }
}
@media (max-width: 375px){
  .main{
    padding: 30px 0;
  }
  .container .card{
    margin: 15px 0;
  }
}